<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
    <style>
        header{
            width: 100%;
        }
        .text{
            position: absolute;
            width: 100%;
            height: 50px;
            top: 0 ;
            left: 0;
            font-size: 18px;
            background-color:#003D79;
            opacity: 0.7;
            color: white;
            text-align: center;
            line-height: 50px;
            margin: 0;
        }
        .image{
            position: relative;
            margin: 0;
            width: 100%;
            height: 500px;
        }
        .army,.air,.navy{
            margin-top: 20px;
        }
       .search{
           width: 100%;
           height: 80px;
          
       }
       p{
           margin: 0;
           padding: 0;
           line-height: 80px;
       }
       input{
           width: 400px;
           height: 40px;
           border-radius: 10px 10px 10px 10px;
           border:2px solid dodgerblue;
       }
       .button{
           display: block;
           height: 40px;
       }
       .navy-class-color{
           color: darkcyan;
       }
    </style>
  
</head>
<body>
    <div id="app">
        <header>
            <div class="image"><img src="picture/空军基地.jpg" width="100%" height="500">
                <div class="text">南岛国防军装备管理系统</div>
            </div>
        </header>
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 70%;margin: auto;padding: 0;">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#army" role="tab" aria-controls="home" aria-selected="true">南岛陆军</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#air" role="tab" aria-controls="profile" aria-selected="false">南岛皇家空军</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#navy" role="tab" aria-controls="contact" aria-selected="false">南岛皇家海军</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Marine-Corps" role="tab" aria-controls="contact" aria-selected="false">南岛海军陆战队</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Air-National-Guard" role="tab" aria-controls="contact" aria-selected="false">南岛空中国民警卫队</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Coast-Guard" role="tab" aria-controls="contact" aria-selected="false">南岛海岸警卫队</a>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="army" role="tabpanel" aria-labelledby="home-tab">
                <div class="search">
                    <p class="text-center">
                        <input type="search" placeholder="输入装备编号、代号" v-model="inp1" @keydown="search()">
                        <button class="btn btn-primary" @click="search()">搜索</button>
                        {{inp}}
                    </p>
                </div>
                <div class="army">
                    <table class="table table-striped table-secondary text-center" id="myTable">
                        <tr>
                            <td colspan="5" class="bg-secondary text-white">南岛陆军装备</td>
                        </tr>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">代号</th>
                            <th scope="col">类型</th>
                            <th scope="col">装备数量</th>
                            <th scope="col">状态</th>
                        </tr>
                        <tr v-for="site in sites">
                            <td scope="row" contenteditable='true' class="id">{{site.id}}</td>
                            <td contenteditable='true'>{{site.dai}}</td>
                            <td contenteditable='true'>{{site.type}}</td>
                            <td contenteditable='true'>{{site.counts}}</td>
                            <td contenteditable='true' class="s">{{site.state}}</td>
                        </tr>
                    </table>
                </div>
            </div><!--tab-pane-->
            <div class="tab-pane fade" id="air" role="tabpanel" aria-labelledby="profile-tab">
                <div class="search">
                    <p class="text-center">
                        <input type="search" placeholder="输入装备编号、代号" v-model="inp2" @keydown="search2()">
                        <button class="btn btn-primary" @click="search2()">搜索</button>
                    </p>
                </div>
                <div class="air">
                    <table class="table table-striped table-secondary text-center" id="myTable2">
                        <tr>
                            <td colspan="6" class="bg-secondary text-white">南岛皇家空军装备</td>
                        </tr>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">代号</th>
                            <th scope="col">类型</th>
                            <th scope="col">装备数量</th>
                            <th scope="col">分类</th>
                            <th scope="col">状态</th>
                        </tr>
                        <tr v-for="site2 in sites2">
                            <td scope="row" contenteditable='true' class="id">{{site2.id2}}</td>
                            <td contenteditable='true' id="dai">{{site2.dai}}</td>
                            <td contenteditable="true">{{site2.type}}</td>
                            <td contenteditable='true'>{{site2.counts}}</td>
                            <td contenteditable="true" class="fen">{{site2.class}}</td>
                            <td contenteditable='true' class="s">{{site2.state}}</td>
                        </tr>
                    </table>
                </div>
          </div><!--tab-pane-->
          <div class="tab-pane fade" id="navy" role="tabpanel" aria-labelledby="profile-tab">
            <div class="search">
                <p class="text-center">
                    <input type="search" placeholder="输入装备编号、代号" v-model="inp3" @keydown="search3()">
                    <button class="btn btn-primary" @click="search3()">搜索</button>
                </p>
            </div>
            <div class="navy">
                <table class="table table-striped table-secondary text-center" id="myTable3">
                    <tr>
                        <td colspan="6" class="bg-secondary text-white">南岛皇家海军装备</td>
                    </tr>
                    <tr>
                        <th scope="col">舷号</th>
                        <th scope="col">代号</th>
                        <th scope="col">类型</th>
                        <th scope="col">装备数量</th>
                        <th scope="col">级别</th>
                        <th scope="col">状态</th>
                    </tr>
                    <tr v-for="site3 in sites3">
                        <td scope="row" contenteditable='true' class="id">{{site3.id}}</td>
                        <td contenteditable='true' id="dai">{{site3.dai}}</td>
                        <td contenteditable="true">{{site3.type}}</td>
                        <td contenteditable='true'>{{site3.counts}}</td>
                        <td contenteditable="true" class="navy-class-color">{{site3.class}}</td>
                        <td contenteditable='true' class="s">{{site3.state}}</td>
                    </tr>
                </table>
            </div>
          </div><!--tab-pane-->
          <div class="tab-pane fade" id="Marine-Corps" role="tabpanel" aria-labelledby="profile-tab">
            <div class="search">
                <p class="text-center">
                    <input type="search" placeholder="输入装备编号、代号" v-model="inp4" @keydown="search4()">
                    <button class="btn btn-primary" @click="search4()">搜索</button>
                </p>
            </div>
            <div class="Marine">
                <table class="table table-striped table-secondary text-center" id="myTable4">
                    <tr>
                        <td colspan="6" class="bg-secondary text-white">南岛海军陆战队装备</td>
                    </tr>
                    <tr>
                        <th scope="col">舷号/编号</th>
                        <th scope="col">代号</th>
                        <th scope="col">类型</th>
                        <th scope="col">装备数量</th>
                        <th scope="col">级别</th>
                        <th scope="col">状态</th>
                    </tr>
                    <tr v-for="site4 in sites4">
                        <td scope="row" contenteditable='true' class="id">{{site4.id}}</td>
                        <td contenteditable='true' id="dai">{{site4.dai}}</td>
                        <td contenteditable="true">{{site4.type}}</td>
                        <td contenteditable='true'>{{site4.counts}}</td>
                        <td contenteditable="true" class="navy-class-color">{{site4.class}}</td>
                        <td contenteditable='true' class="s">{{site4.state}}</td>
                    </tr>
                </table>
            </div>
          </div><!--tab-pane-->
          <div class="tab-pane fade" id="Air-National-Guard" role="tabpanel" aria-labelledby="profile-tab">
            <div class="search">
                <p class="text-center">
                    <input type="search" placeholder="输入装备编号、代号">
                    <button class="btn btn-primary" @click="search()">搜索</button>
                </p>
            </div>
          </div><!--tab-pane-->
          <div class="tab-pane fade" id="Coast-Guard" role="tabpanel" aria-labelledby="profile-tab">
            <div class="search">
                <p class="text-center">
                    <input type="search" placeholder="输入装备编号、代号">
                    <button class="btn btn-primary" @click="search()">搜索</button>
                </p>
            </div>
          </div><!--tab-pane-->
       </div><!--tab-content-->
 </div>


 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/data.js"></script>
<script>
    /*设置所有服役中状态的文字为红色*/
    var id=document.querySelectorAll(".id");
    var s=document.querySelectorAll(".s");
    var fen=document.querySelectorAll(".fen");
    for(var i=0;i<s.length;i++){
    if(s[i].innerText=="服役中"){
        s[i].style.color="green";
    }
}

for(var f=0;f<s.length;f++){
    if(s[f].innerText=="未服役"){
        s[f].style.color="red";
    }
}
for(var f=0;f<s.length;f++){
    if(s[f].innerText=="已退役"){
        s[f].style.color="#7B7B7B";
    }
}
for(var f=0;f<s.length;f++){
    if(s[f].innerHTML=="建造中"){
        s[f].style.color="#613030";
    }
}

   for(var j=0;j<id.length;j++){
      id[j].style.fontWeight="bold";
      id[j].style.color="crimson";
   }

   for(var g=0;g<fen.length;g++){
        if(fen[g].innerText=="主力战机"){
        fen[g].style.color="#0066CC";
        fen[g].style.textDecoration="underline";
        }
        else if(fen[g].innerText=="支援战机"){
            fen[g].style.color="#8600FF";
            fen[g].style.textDecoration="underline";
        }
        else if(fen[g].innerText=="王牌战机"){
            fen[g].style.color="#9F5000";
            fen[g].style.textDecoration="underline";
        }
        else{
            fen[g].style.color="#01B468";
            fen[g].style.textDecoration="underline";
        }
   }
</script>
    
</body>
</html>